<!doctype html>
<html lang="en" style="height: 1rem">
    <head style="height: 100%">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!--<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">-->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
        <title>Movie Searcher!</title>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    </head>
    <body class="w-100" style="min-height: 100%;">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark mb-5">
            <div class="container bg-dark">
                  <a class="navbar-brand text-white" href="http://grodvidar.se">
                      <img src="{{ url_for('static', filename='img/grod.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                      GrodVidar
                  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active text-white" href="">Home <span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container bg-secondary text-white p-4 mt-5" style="min-height: 100vh">
            <h3 class="text-center">Enter a Movie/Show to search for:</h3>
            <form class="m-3" action="" method="post" role="form" autocomplete="off">
                {% if providers %}
                <input type="text" class="hidden" id="providers" value="{{ providers|join(',') }}">
                <input type="text" class="hidden" id="selectedCountry" value="{{ country }}">
                {% endif %}
                <div class="btn-group-toggle col col-xl-8 mx-auto mb-3" data-toggle="buttons" style="text-align: center;">
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="nfx" name="Netflix">
                        <img src="{{ url_for('static', filename='img/providers/Netflix.jfif') }}" width="50px" alt="Netflix">
                        <p class="providerName">Netflix</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="prv" name="Amazon">
                        <img src="{{ url_for('static', filename='img/providers/Prime.jfif') }}" width="50px" alt="Prime Video">
                        <p class="providerName">Prime Video</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="vip" name="Viaplay">
                        <img src="{{ url_for('static', filename='img/providers/Viaplay.jfif') }}" width="50px" alt="Viaplay">
                        <p class="providerName">Viaplay</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="dnp" name="Disney Plus">
                        <img src="{{ url_for('static', filename='img/providers/Disney_Plus.jfif') }}" width="50px" alt="Disney Plus">
                        <p class="providerName">Disney Plus</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="hbm" name="HBO Max">
                        <img src="{{ url_for('static', filename='img/providers/HBO_Max.jfif') }}" width="50px" alt="HBO Max">
                        <p class="providerName">HBO Max</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="svt" name="SVT Play">
                        <img src="{{ url_for('static', filename='img/providers/SVT_Play.jfif') }}" width="50px" alt="SVT Play">
                        <p class="providerName">SVT Play</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="cmr" name="Cmore">
                        <img src="{{ url_for('static', filename='img/providers/Cmore.jfif') }}" width="50px" alt="Cmore">
                        <p class="providerName">Cmore</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="pmp" name="Paramount Plus">
                        <img src="{{ url_for('static', filename='img/providers/Paramount_Plus.jfif') }}" width="50px" alt="Paramount Plus">
                        <p class="providerName">Paramount Plus</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="sfa" name="SF Anytime">
                        <img src="{{ url_for('static', filename='img/providers/SF_Anytime.jfif') }}" width="50px" alt="SF Anytime">
                        <p class="providerName">SF Anytime</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="Blockbuster" name="Blockbuster">
                        <img src="{{ url_for('static', filename='img/providers/Blockbuster.jfif') }}" width="50px" alt="Blockbuster">
                        <p class="providerName">Blockbuster</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="itu" name="iTunes">
                        <img src="{{ url_for('static', filename='img/providers/iTunes.png') }}" width="50px" alt="iTunes">
                        <p class="providerName">iTunes</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="ply" name="Google Play">
                        <img src="{{ url_for('static', filename='img/providers/Google_Play.jfif') }}" width="50px" alt="Google Play">
                        <p class="providerName">Google Play</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="atp" name="Apple TV Plus">
                        <img src="{{ url_for('static', filename='img/providers/Apple_TV_Plus.jfif') }}" width="50px" alt="Apple TV Plus">
                        <p class="providerName">Apple TV Plus</p>
                    </label>
                    <label class="btn btn-dark active providerContainer">
                        <input type="checkbox" id="dpe" name="Discovery Plus">
                        <img src="{{ url_for('static', filename='img/providers/Discovery_Plus.jfif') }}" width="50px" alt="Discovery Plus">
                        <p class="providerName">Discovery Plus</p>
                    </label>

                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-2 col-xs-3"></div>
                    <div class="col-md-4 col-sm-8 col-xs-6">
                        <select id="country" name="country">
                            <option value="AF" data-capital="Kabul">Afghanistan</option>
                            <option value="AX" data-capital="Mariehamn">Aland Islands</option>
                            <option value="AL" data-capital="Tirana">Albania</option>
                            <option value="DZ" data-capital="Algiers">Algeria</option>
                            <option value="AS" data-capital="Pago Pago">American Samoa</option>
                            <option value="AD" data-capital="Andorra la Vella">Andorra</option>
                            <option value="AO" data-capital="Luanda">Angola</option>
                            <option value="AI" data-capital="The Valley">Anguilla</option>
                            <option value="AG" data-capital="St. John's">Antigua and Barbuda</option>
                            <option value="AR" data-capital="Buenos Aires">Argentina</option>
                            <option value="AM" data-capital="Yerevan">Armenia</option>
                            <option value="AW" data-capital="Oranjestad">Aruba</option>
                            <option value="AU" data-capital="Canberra">Australia</option>
                            <option value="AT" data-capital="Vienna">Austria</option>
                            <option value="AZ" data-capital="Baku">Azerbaijan</option>
                            <option value="BS" data-capital="Nassau">Bahamas</option>
                            <option value="BH" data-capital="Manama">Bahrain</option>
                            <option value="BD" data-capital="Dhaka">Bangladesh</option>
                            <option value="BB" data-capital="Bridgetown">Barbados</option>
                            <option value="BY" data-capital="Minsk">Belarus</option>
                            <option value="BE" data-capital="Brussels">Belgium</option>
                            <option value="BZ" data-capital="Belmopan">Belize</option>
                            <option value="BJ" data-capital="Porto-Novo">Benin</option>
                            <option value="BM" data-capital="Hamilton">Bermuda</option>
                            <option value="BT" data-capital="Thimphu">Bhutan</option>
                            <option value="BO" data-capital="Sucre">Bolivia</option>
                            <option value="BA" data-capital="Sarajevo">Bosnia and Herzegovina</option>
                            <option value="BW" data-capital="Gaborone">Botswana</option>
                            <option value="BR" data-capital="Brasília">Brazil</option>
                            <option value="IO" data-capital="Diego Garcia">British Indian Ocean Territory</option>
                            <option value="BN" data-capital="Bandar Seri Begawan">Brunei Darussalam</option>
                            <option value="BG" data-capital="Sofia">Bulgaria</option>
                            <option value="BF" data-capital="Ouagadougou">Burkina Faso</option>
                            <option value="BI" data-capital="Bujumbura">Burundi</option>
                            <option value="CV" data-capital="Praia">Cabo Verde</option>
                            <option value="KH" data-capital="Phnom Penh">Cambodia</option>
                            <option value="CM" data-capital="Yaoundé">Cameroon</option>
                            <option value="CA" data-capital="Ottawa">Canada</option>
                            <option value="KY" data-capital="George Town">Cayman Islands</option>
                            <option value="CF" data-capital="Bangui">Central African Republic</option>
                            <option value="TD" data-capital="N'Djamena">Chad</option>
                            <option value="CL" data-capital="Santiago">Chile</option>
                            <option value="CN" data-capital="Beijing">China</option>
                            <option value="CX" data-capital="Flying Fish Cove">Christmas Island</option>
                            <option value="CC" data-capital="West Island">Cocos (Keeling) Islands</option>
                            <option value="CO" data-capital="Bogotá">Colombia</option>
                            <option value="KM" data-capital="Moroni">Comoros</option>
                            <option value="CK" data-capital="Avarua">Cook Islands</option>
                            <option value="CR" data-capital="San José">Costa Rica</option>
                            <option value="HR" data-capital="Zagreb">Croatia</option>
                            <option value="CU" data-capital="Havana">Cuba</option>
                            <option value="CW" data-capital="Willemstad">Curaçao</option>
                            <option value="CY" data-capital="Nicosia">Cyprus</option>
                            <option value="CZ" data-capital="Prague">Czech Republic</option>
                            <option value="CI" data-capital="Yamoussoukro">Côte d'Ivoire</option>
                            <option value="CD" data-capital="Kinshasa">Democratic Republic of the Congo</option>
                            <option value="DK" data-capital="Copenhagen">Denmark</option>
                            <option value="DJ" data-capital="Djibouti">Djibouti</option>
                            <option value="DM" data-capital="Roseau">Dominica</option>
                            <option value="DO" data-capital="Santo Domingo">Dominican Republic</option>
                            <option value="EC" data-capital="Quito">Ecuador</option>
                            <option value="EG" data-capital="Cairo">Egypt</option>
                            <option value="SV" data-capital="San Salvador">El Salvador</option>
                            <option value="GQ" data-capital="Malabo">Equatorial Guinea</option>
                            <option value="ER" data-capital="Asmara">Eritrea</option>
                            <option value="EE" data-capital="Tallinn">Estonia</option>
                            <option value="ET" data-capital="Addis Ababa">Ethiopia</option>
                            <option value="FK" data-capital="Stanley">Falkland Islands</option>
                            <option value="FO" data-capital="Tórshavn">Faroe Islands</option>
                            <option value="FM" data-capital="Palikir">Federated States of Micronesia</option>
                            <option value="FJ" data-capital="Suva">Fiji</option>
                            <option value="FI" data-capital="Helsinki">Finland</option>
                            <option value="MK" data-capital="Skopje">Former Yugoslav Republic of Macedonia</option>
                            <option value="FR" data-capital="Paris">France</option>
                            <option value="PF" data-capital="Papeete">French Polynesia</option>
                            <option value="GA" data-capital="Libreville">Gabon</option>
                            <option value="GM" data-capital="Banjul">Gambia</option>
                            <option value="GE" data-capital="Tbilisi">Georgia</option>
                            <option value="DE" data-capital="Berlin">Germany</option>
                            <option value="GH" data-capital="Accra">Ghana</option>
                            <option value="GI" data-capital="Gibraltar">Gibraltar</option>
                            <option value="GR" data-capital="Athens">Greece</option>
                            <option value="GL" data-capital="Nuuk">Greenland</option>
                            <option value="GD" data-capital="St. George's">Grenada</option>
                            <option value="GU" data-capital="Hagåtña">Guam</option>
                            <option value="GT" data-capital="Guatemala City">Guatemala</option>
                            <option value="GG" data-capital="Saint Peter Port">Guernsey</option>
                            <option value="GN" data-capital="Conakry">Guinea</option>
                            <option value="GW" data-capital="Bissau">Guinea-Bissau</option>
                            <option value="GY" data-capital="Georgetown">Guyana</option>
                            <option value="HT" data-capital="Port-au-Prince">Haiti</option>
                            <option value="VA" data-capital="Vatican City">Holy See</option>
                            <option value="HN" data-capital="Tegucigalpa">Honduras</option>
                            <option value="HK" data-capital="Hong Kong">Hong Kong</option>
                            <option value="HU" data-capital="Budapest">Hungary</option>
                            <option value="IS" data-capital="Reykjavik">Iceland</option>
                            <option value="IN" data-capital="New Delhi">India</option>
                            <option value="ID" data-capital="Jakarta">Indonesia</option>
                            <option value="IR" data-capital="Tehran">Iran</option>
                            <option value="IQ" data-capital="Baghdad">Iraq</option>
                            <option value="IE" data-capital="Dublin">Ireland</option>
                            <option value="IM" data-capital="Douglas">Isle of Man</option>
                            <option value="IL" data-capital="Jerusalem">Israel</option>
                            <option value="IT" data-capital="Rome">Italy</option>
                            <option value="JM" data-capital="Kingston">Jamaica</option>
                            <option value="JP" data-capital="Tokyo">Japan</option>
                            <option value="JE" data-capital="Saint Helier">Jersey</option>
                            <option value="JO" data-capital="Amman">Jordan</option>
                            <option value="KZ" data-capital="Astana">Kazakhstan</option>
                            <option value="KE" data-capital="Nairobi">Kenya</option>
                            <option value="KI" data-capital="South Tarawa">Kiribati</option>
                            <option value="KW" data-capital="Kuwait City">Kuwait</option>
                            <option value="KG" data-capital="Bishkek">Kyrgyzstan</option>
                            <option value="LA" data-capital="Vientiane">Laos</option>
                            <option value="LV" data-capital="Riga">Latvia</option>
                            <option value="LB" data-capital="Beirut">Lebanon</option>
                            <option value="LS" data-capital="Maseru">Lesotho</option>
                            <option value="LR" data-capital="Monrovia">Liberia</option>
                            <option value="LY" data-capital="Tripoli">Libya</option>
                            <option value="LI" data-capital="Vaduz">Liechtenstein</option>
                            <option value="LT" data-capital="Vilnius">Lithuania</option>
                            <option value="LU" data-capital="Luxembourg City">Luxembourg</option>
                            <option value="MO" data-capital="Macau">Macau</option>
                            <option value="MG" data-capital="Antananarivo">Madagascar</option>
                            <option value="MW" data-capital="Lilongwe">Malawi</option>
                            <option value="MY" data-capital="Kuala Lumpur">Malaysia</option>
                            <option value="MV" data-capital="Malé">Maldives</option>
                            <option value="ML" data-capital="Bamako">Mali</option>
                            <option value="MT" data-capital="Valletta">Malta</option>
                            <option value="MH" data-capital="Majuro">Marshall Islands</option>
                            <option value="MQ" data-capital="Fort-de-France">Martinique</option>
                            <option value="MR" data-capital="Nouakchott">Mauritania</option>
                            <option value="MU" data-capital="Port Louis">Mauritius</option>
                            <option value="MX" data-capital="Mexico City">Mexico</option>
                            <option value="MD" data-capital="Chișinău">Moldova</option>
                            <option value="MC" data-capital="Monaco">Monaco</option>
                            <option value="MN" data-capital="Ulaanbaatar">Mongolia</option>
                            <option value="ME" data-capital="Podgorica">Montenegro</option>
                            <option value="MS" data-capital="Little Bay, Brades, Plymouth">Montserrat</option>
                            <option value="MA" data-capital="Rabat">Morocco</option>
                            <option value="MZ" data-capital="Maputo">Mozambique</option>
                            <option value="MM" data-capital="Naypyidaw">Myanmar</option>
                            <option value="NA" data-capital="Windhoek">Namibia</option>
                            <option value="NR" data-capital="Yaren District">Nauru</option>
                            <option value="NP" data-capital="Kathmandu">Nepal</option>
                            <option value="NL" data-capital="Amsterdam">Netherlands</option>
                            <option value="NZ" data-capital="Wellington">New Zealand</option>
                            <option value="NI" data-capital="Managua">Nicaragua</option>
                            <option value="NE" data-capital="Niamey">Niger</option>
                            <option value="NG" data-capital="Abuja">Nigeria</option>
                            <option value="NU" data-capital="Alofi">Niue</option>
                            <option value="NF" data-capital="Kingston">Norfolk Island</option>
                            <option value="KP" data-capital="Pyongyang">North Korea</option>
                            <option value="MP" data-capital="Capitol Hill">Northern Mariana Islands</option>
                            <option value="NO" data-capital="Oslo">Norway</option>
                            <option value="OM" data-capital="Muscat">Oman</option>
                            <option value="PK" data-capital="Islamabad">Pakistan</option>
                            <option value="PW" data-capital="Ngerulmud">Palau</option>
                            <option value="PA" data-capital="Panama City">Panama</option>
                            <option value="PG" data-capital="Port Moresby">Papua New Guinea</option>
                            <option value="PY" data-capital="Asunción">Paraguay</option>
                            <option value="PE" data-capital="Lima">Peru</option>
                            <option value="PH" data-capital="Manila">Philippines</option>
                            <option value="PN" data-capital="Adamstown">Pitcairn</option>
                            <option value="PL" data-capital="Warsaw">Poland</option>
                            <option value="PT" data-capital="Lisbon">Portugal</option>
                            <option value="PR" data-capital="San Juan">Puerto Rico</option>
                            <option value="QA" data-capital="Doha">Qatar</option>
                            <option value="CG" data-capital="Brazzaville">Republic of the Congo</option>
                            <option value="RO" data-capital="Bucharest">Romania</option>
                            <option value="RU" data-capital="Moscow">Russia</option>
                            <option value="RW" data-capital="Kigali">Rwanda</option>
                            <option value="BL" data-capital="Gustavia">Saint Barthélemy</option>
                            <option value="KN" data-capital="Basseterre">Saint Kitts and Nevis</option>
                            <option value="LC" data-capital="Castries">Saint Lucia</option>
                            <option value="VC" data-capital="Kingstown">Saint Vincent and the Grenadines</option>
                            <option value="WS" data-capital="Apia">Samoa</option>
                            <option value="SM" data-capital="San Marino">San Marino</option>
                            <option value="ST" data-capital="São Tomé">Sao Tome and Principe</option>
                            <option value="SA" data-capital="Riyadh">Saudi Arabia</option>
                            <option value="SN" data-capital="Dakar">Senegal</option>
                            <option value="RS" data-capital="Belgrade">Serbia</option>
                            <option value="SC" data-capital="Victoria">Seychelles</option>
                            <option value="SL" data-capital="Freetown">Sierra Leone</option>
                            <option value="SG" data-capital="Singapore">Singapore</option>
                            <option value="SX" data-capital="Philipsburg">Sint Maarten</option>
                            <option value="SK" data-capital="Bratislava">Slovakia</option>
                            <option value="SI" data-capital="Ljubljana">Slovenia</option>
                            <option value="SB" data-capital="Honiara">Solomon Islands</option>
                            <option value="SO" data-capital="Mogadishu">Somalia</option>
                            <option value="ZA" data-capital="Pretoria">South Africa</option>
                            <option value="KR" data-capital="Seoul">South Korea</option>
                            <option value="SS" data-capital="Juba">South Sudan</option>
                            <option value="ES" data-capital="Madrid">Spain</option>
                            <option value="LK" data-capital="Sri Jayawardenepura Kotte, Colombo">Sri Lanka</option>
                            <option value="PS" data-capital="Ramallah">State of Palestine</option>
                            <option value="SD" data-capital="Khartoum">Sudan</option>
                            <option value="SR" data-capital="Paramaribo">Suriname</option>
                            <option value="SZ" data-capital="Lobamba, Mbabane">Swaziland</option>
                            <option value="SE" data-capital="Stockholm" selected="selected">Sweden</option>
                            <option value="CH" data-capital="Bern">Switzerland</option>
                            <option value="SY" data-capital="Damascus">Syrian Arab Republic</option>
                            <option value="TW" data-capital="Taipei">Taiwan</option>
                            <option value="TJ" data-capital="Dushanbe">Tajikistan</option>
                            <option value="TZ" data-capital="Dodoma">Tanzania</option>
                            <option value="TH" data-capital="Bangkok">Thailand</option>
                            <option value="TL" data-capital="Dili">Timor-Leste</option>
                            <option value="TG" data-capital="Lomé">Togo</option>
                            <option value="TK" data-capital="Nukunonu, Atafu,Tokelau">Tokelau</option>
                            <option value="TO" data-capital="Nukuʻalofa">Tonga</option>
                            <option value="TT" data-capital="Port of Spain">Trinidad and Tobago</option>
                            <option value="TN" data-capital="Tunis">Tunisia</option>
                            <option value="TR" data-capital="Ankara">Turkey</option>
                            <option value="TM" data-capital="Ashgabat">Turkmenistan</option>
                            <option value="TC" data-capital="Cockburn Town">Turks and Caicos Islands</option>
                            <option value="TV" data-capital="Funafuti">Tuvalu</option>
                            <option value="UG" data-capital="Kampala">Uganda</option>
                            <option value="UA" data-capital="Kiev">Ukraine</option>
                            <option value="AE" data-capital="Abu Dhabi">United Arab Emirates</option>
                            <option value="GB" data-capital="London">United Kingdom</option>
                            <option value="US" data-capital="Washington, D.C.">United States of America</option>
                            <option value="UY" data-capital="Montevideo">Uruguay</option>
                            <option value="UZ" data-capital="Tashkent">Uzbekistan</option>
                            <option value="VU" data-capital="Port Vila">Vanuatu</option>
                            <option value="VE" data-capital="Caracas">Venezuela</option>
                            <option value="VN" data-capital="Hanoi">Vietnam</option>
                            <option value="VG" data-capital="Road Town">Virgin Islands (British)</option>
                            <option value="VI" data-capital="Charlotte Amalie">Virgin Islands (U.S.)</option>
                            <option value="EH" data-capital="Laayoune">Western Sahara</option>
                            <option value="YE" data-capital="Sana'a">Yemen</option>
                            <option value="ZM" data-capital="Lusaka">Zambia</option>
                            <option value="ZW" data-capital="Harare">Zimbabwe</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-2 col-xs-3"></div>
                </div>
                <div class="row mt-3">
                    <div class="col"></div>
                    <div class="col-xs-12 form-inline">
                        <input type="text" class="form-control mr-1" style="max-width: 200px;" placeholder="Title" name="title">
                        <span>
                            <button type="submit" class="btn btn-dark">Go!</button>
                        </span>
                    </div>
                    <div class="col"></div>
                </div>
            </form>
            {% block content %}
            {% if error %}
                <div class="result">
                    <span>{{ error }}</span>
                </div>
            {% endif %}
                {% if title %}
                    <div class="jumbotron bg-dark h-100 mt-4">
                        <div class="container">
                            <h3 class="display-4">Your results for <strong class="text-capitalize">{{ title }}</strong>:</h3>
                            <div class="row">
                                <div class="col-md-8 col-xs-12 col-sm-12">
                                    <ul id="resultList">
                                        {% for i in info %}
                                            <li class="result">
                                                <span>{{ i['title'] }} can be:</span>
                                                {% if i['monetization_types']['free']|length > 0 %}
                                                    <ul>
                                                        <li>
                                                            <span> Watched for free at:</span>
                                                        </li>
                                                        <ul>
                                                                {% for provider in i['monetization_types']['free'] %}
                                                                    <li>
                                                                        <span> <a href="{{ provider['url'] }}" target="_blank">{{ provider['provider_name'] }}</a></span>
                                                                    </li>
                                                                {% endfor %}
                                                        </ul>
                                                    </ul>
                                                {% endif %}
                                                {% if i['monetization_types']['flatrate']|length > 0 %}
                                                    <ul>
                                                        <li>
                                                            <span>Streamed with a subscription at:</span>
                                                        </li>
                                                        <ul>
                                                                {% for provider in i['monetization_types']['flatrate'] %}
                                                                    <li>
                                                                        <span> <a href="{{ provider['url'] }}" target="_blank">{{ provider['provider_name'] }}</a></span>
                                                                    </li>
                                                                {% endfor %}
                                                        </ul>
                                                    </ul>
                                                {% endif %}
                                                {% if i['monetization_types']['rent']|length > 0 %}
                                                    <ul>
                                                        <li>
                                                            <span>Rented at:</span>
                                                        </li>
                                                        <ul>
                                                            {% for provider in i['monetization_types']['rent'] %}
                                                                <li>
                                                                    <span> <a href="{{ provider['url'] }}" target="_blank">{{ provider['provider_name'] }}</a> for {{ provider['price'] }}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </ul>
                                                {% endif %}
                                                {% if i['monetization_types']['buy']|length > 0 %}
                                                    <ul>
                                                        <li>
                                                            <span>Purchased at:</span>
                                                        </li>
                                                        <ul>
                                                            {% for provider in i['monetization_types']['buy'] %}
                                                                <li>
                                                                    <span> <a href="{{ provider['url'] }}" target="_blank">{{ provider['provider_name'] }}</a> for {{ provider['price'] }}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-xs-12">
                                    <img class="img-responsive ml-5" src="{{ image }}" width="200" height="300" alt=":(">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock content %}
        </div>
        <footer class="page-footer font-small bg-dark pt-4">
            <div class="container">
                <p class="text-center text-light">Contact me:</p>
                <form class="" id="contactForm" action="" method="post" role="form" autocomplete="off">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-8 mb-2 form-inline">
                            <input class="form-control text-center" style="min-width: 45%" type="text" name="name" required="true" placeholder="Name"
                                aria-label="Search">
                            <div class="col"></div>
                            <input class="form-control text-center" style="min-width: 45%" type="email" name="mail" required="true" placeholder="Your Email"
                                aria-label="Search">
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-8 mb-1">
                            <textarea type="text" class="form-control" rows="6" required="true" name="message" placeholder="Your message"></textarea>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xs-12">
                                <div class="">
                                    {{ recaptcha }}
                                </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xs-12">
                                <div>
                                    <button class="g-recaptcha btn btn-secondary btn-lg" data-sitekey="6Le3p7gdAAAAAJOX0c0qGRTfX5pOqeKu1IJjRaOj" data-callback="onSubmit" data-action="submit">Submit</button>
                                    <!--<button class="btn btn-secondary btn-lg" type="submit">Send</button>-->
                                </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
            <div class="footer-copyright text-light text-center py-3">© 2020 Copyright:
                <span class="text-success">Vidar Franzén</span>
            </div>
        </footer>

        <script>
           function onSubmit(token) {
             document.getElementById("contactForm").submit();
           }
        </script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script>
            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
        </script>
    </body>
</html>
