<!doctype html>
<html lang="en" style="height: 1rem">
    <head style="height: 100%">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!--<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">-->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Movie Searcher!</title>
    </head>
    <body class="w-100 bg-success" style="min-height: 100%; background: url('/static/bg.png') no-repeat center center fixed;">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark mb-5">
            <div class="container bg-dark">
                  <a class="navbar-brand text-white" href="http://grodvidar.se">
                      <img src="{{ url_for('static', filename='grod.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                      GrodVidar
                  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active text-white" href="">Home <span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container bg-secondary text-white p-4 mt-5" style="min-height: 100vh">
            <h3 class="text-center">Enter a Movie/Show to search for:</h3>
            <form class="m-3" action="" method="post" role="form" autocomplete="off">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-xs-12">
                        <input type="checkbox" checked="checked" class="form-check-input" id="Netflix" name="Netflix">
                        <label class="form-check-label mr-5" for="Netflix">Netflix</label>
                        <input type="checkbox" checked="checked" class="form-check-input" id="Amazon" name="Amazon">
                        <label class="form-check-label mr-5" for="Amazon">Amazon Prime</label>
                        <input type="checkbox" checked="checked" class="form-check-input" id="Viaplay" name="Viaplay">
                        <label class="form-check-label" for="Viaplay">Viaplay</label>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-xs-12">
                        <input type="checkbox"class="form-check-input" id="iTunes" name="iTunes">
                        <label class="form-check-label mr-5" for="iTunes">iTunes</label>
                        <input type="checkbox" class="form-check-input" id="Google Play" name="Google Play">
                        <label class="form-check-label" for="Google Play">Google Play</label>
                    </div>
                    <div class="col">
                        <select id="country" name="country">
                            <option value="se">Sweden</option>
                            <option value="be">Belgium</option>
                            <option value="uk">United Kingdom</option>
                            <option value="us">USA</option>
                            <option value="es">Spain</option>
                            <option value="no">Norway</option>
                            <option value="fr">France</option>
                            <option value="de">Germany</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col"></div>
                    <div class="col-xs-12 form-inline">
                        <input type="text" class="form-control mr-1" style="max-width: 200px;" placeholder="Title" name="title">
                        <span>
                            <button type="submit" class="btn btn-dark">Go!</button>
                        </span>
                    </div>
                    <div class="col"></div>
                </div>
            </form>
            {% block content %}
                {% if title %}
                    <div class="jumbotron bg-dark h-100 mt-4">
                        <div class="container">
                            <h3 class="display-4">Your results for <strong class="text-capitalize">{{ title }}</strong>:</h3>
                            <div class="row">
                                <div class="col-8 col-xs-8">
                                    {% for i in info %}
                                        <p class="ml-4">{{ i }}</p>
                                    {% endfor %}
                                </div>
                                <div class="col-xs-2">
                                    <img class="img-responsive ml-5" src="{{ image }}" width="200" height="300" alt=":(">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock content %}
        </div>
        <footer class="page-footer font-small bg-dark pt-4">
            <div class="container">
                <p class="text-center text-light">Contact me:</p>
                <form class="" action="" method="post" role="form" autocomplete="off">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-8 mb-2 form-inline">
                            <input class="form-control text-center" style="min-width: 45%" type="text" name="name" required="true" placeholder="Name"
                                aria-label="Search">
                            <div class="col"></div>
                            <input class="form-control text-center" style="min-width: 45%" type="email" name="mail" required="true" placeholder="Your Email"
                                aria-label="Search">
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-8 mb-1">
                            <textarea type="text" class="form-control" rows="6" required="true" name="message" placeholder="Your message"></textarea>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xs-12">
                                <div class="">
                                    {{ recaptcha }}
                                </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xs-12">
                                <div class="">
                                    <button class="btn btn-secondary btn-lg" type="submit">Send</button>
                                </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
            <div class="footer-copyright text-light text-center py-3">© 2020 Copyright:
                <span class="text-success">Vidar Franzén</span>
            </div>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>